.class1 {
  

    background-color: coral;
    width: 150px;
    height: 200px;
    z-index: 1;
    

}

.class2 {
  

    background-color: aqua;
    width: 150px;
    height: 200px;
    z-index: 2;
    top: -110px;
    left: 50px;
    position: relative;
}