header{
    text-align:center;
    padding: 0, 100%;
    border:solid 1px;
    background-color: rgba(219, 219, 76, 0.65);
}
body{
    background-color: rgba(148, 148, 177, 0.574) ;
}
.p1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.p2{
    font-family: cursive;
}
article{
    text-align: justify;
    background-color: rgba(219, 219, 76, 0.65);
    border:solid 1px;
    margin-top:10px; 
    margin-left:2px;
    margin-right: 25%;
    padding-left: 5px;
    padding-right: 5px ;
}
div{
    background-color: rgba(219, 219, 76, 0.65);
    border: solid 1px;
    margin-top: 10px;
    margin-left: 20px;
    margin-left: 80px;
    padding-right: 10px;
    padding-left: 5px;
    float: right;
    position: relative;
    top: -115px;
}
