*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(230, 228, 210);
}
#id1{
    background-image: url("pizza.png");
    background-size: contain;
}
#id1 input{
    display: block;
    font-size: xx-large;
}
button{
    border-radius: 12px;
    width: 5cm;
    color: cornflowerblue;
    background-color: pink;
}
textarea{
    resize: none;
}