.header{
    background-color: greenyellow;
    width: 100%;
}
.aside{
    background-color: red;
}
.nav{
    background-color: palevioletred;
}
.container1{
    background-color: orange;
}