.header {
    background-color: greenyellow;
    border: solid white;
    height: 50px;
}

.aside {
    background-color: red;
    border: solid white;
}

.nav {
    background-color: palevioletred;
    border: solid white;
    height: 50px;
}

.naranja {
    background-color: orange;
    border: solid white;
    height: 100px;
}

.cuadrados {
    background-color: blue;
    border: solid white;
    height: 50px;

}

.footer {
    background-color: greenyellow;
    border: solid white;
    height: 50px;
}