body{
    display:flex;
    flex-direction: column;
}
header {
    background-color: rgb(162, 226, 65);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #706969;
    width: 100%;
    display: flex;
    justify-content: center;

}


nav {
    background-color: green;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: start;
 
}

nav li {
    margin-top: -11px;
    background-color: green;
}

nav>ul{
    display: flex;
    flex-direction: row;
}

nav ul li {
    list-style-type: none;
    font-weight: 10px;
    word-spacing: 2px;
}

a {
    color: white;
}

.cabecera {
    width: 100%;
}
.bolded{
    font-weight: bolder;
}

#d1 {
    background-color: rgb(242, 242, 118);
    border: 3px solid rgb(160, 160, 25);
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-top: 15px;
    padding-left: 10px;
    margin-bottom: 10px;
}
#d2 {
    background-color: rgb(182, 253, 167);
    border: 3px solid rgb(25, 160, 34);
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-top: 15px;
    padding-left: 10px;
    margin-bottom: 10px;
}
#d3 {
    background-color: rgb(176, 205, 243);
    border: 3px solid rgb(53, 46, 185);
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-top: 15px;
    padding-left: 10px;
    margin-bottom: 10px;
}
#d4{
    border-top: 3px solid brown;
    border-bottom: 3px solid brown;

}
#d5{
    padding: 10px;
    border: 10px;
    display: flex;
    justify-content: flex-start;
}
#d6{
    padding: 10px;
    border: 10px;
    display: flex;
    justify-content: flex-start;
}
.rating{
    width: 5%;
    
}
/* .hombre{
    width: 10%;
} */