* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: beige;
}

#id1 {
    background-color: black;
    font-size: 20px;
    color: orange;
    padding: 2%;
}

a {
    font-size: 14px;
    color: green;
}
h1{
    font-size: 24px;
    padding-bottom: 10px;
}
img{
   border: 3px red solid; 
   margin: top 30px; ;
   margin: bottom 20px; ;
}
li{
    margin-left: 21px;
    padding: top 3.5px; ;
    padding-bottom: 5px;
}
p{
    font-size: 1em;
    padding-bottom: 0.5em;
}
#id2{
    background-color: grey;
    height: 10cm;
    text-align: center;
    padding: 2%;
}

/* <!--Ten en cuenta las siguientes indicaciones:



- Menú lateral. Relleno del 3%, y dimensiones 120px de ancho y 8cm de alto
- Pie de página: texto alineado al centro, color granate y relleno del 2,3%
Te adjunto el enlace del tutorial HTML: http://www.abrirllave.com/html/--> */