*{font-style: italic;}
.s1 {color: red;}
h3 {color: green; background-color: dimgray;}
a href{background-color: gray;}
.s2{ color:blueviolet}
span{color:pink}
small{color:aqua; background-color: yellow;}